/* Add this to your styles file or component */
.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .product-info {
    display: flex;
    align-items: center;
  }
  
  .product-info img {
    padding: 10px 100px;
    width: 236px; /* Adjust width as needed */
    margin-right: 10px; /* Adjust margin as needed */
  }
  
  .details {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  
  .details button {
    padding: 10px;
    background-color: #4caf50; /* Add your desired button background color */
    color: white;
    border: none;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 15px;
  }
  .details button:hover
  {
    background-color: #fff; /* Add your desired button background color */
    color: #4caf50;
    border: 2px solid #4caf50;
    font-weight: bold;
  }
  