.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #4CAF50; /* Add your desired background color */
  color: #fff; /* Add your desired text color */
}

.nav-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-logo img {
  width: 60px; /* Adjust the width of your logo */
  margin-bottom: 5px;
}

.nav-logo p {
  font-size: 14px; /* Adjust the font size of your logo name */
  font-weight: bold;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu li {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.nav-menu a {
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-login-cart {
  display: flex;
  align-items: center;
}

.nav-login-cart a{
  border: 2px solid white;
  padding: 7px 27px;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 10px;
}

.nav-login-cart a:hover{
  color:#4CAF50;
  background-color: white;
  border-radius: 10px;
}

.nav-login-cart button {
  background-color: #fff; /* Add your desired button background color */
  color: #4CAF50; /* Add your desired button text color */
  padding: 10px 20px; /* Adjust the padding of your button */
  border: none;
  cursor: pointer;
}

.nav-login-cart img {
  width: 40px; /* Adjust the width of your cart icon */
  margin-left: 10px;
}
